{% extends "base.html" %}

{% block title %}
    Новости
{% endblock %}

{% block content %}
    <h1>Новости</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'news:create' %}" class="btn btn-primary">Создать новость</a>
    {% endif %}

    {% for news in news_list %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{ news.text }}</p>
                        <a href="#">Редактировать</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}