{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <h1>Вход</h1>
    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form|crispy }}
                <div>
                    <button class="btn btn-primary ps-4 pe-4" type="submit">Вход</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <span class="ms-3">Нет аккаунта? <a href="{% url 'users:signup' %}">Регистрация</a></span>
                </div>
            </div>
        </div>
    </form>
{% endblock %}